env:
  - JIT_OPT:
    - --opt-jit
    - ''

  - TARGET_OPT:
    - target.py
    - preload_target.py

script:
  - ./checkout-externals
  - make pixie-vm $JIT_OPT $TARGET_OPT
  - make run_built_tests

before_install:
  - sudo apt-add-repository ppa:linuxjedi/ppa -y
  - sudo apt-get update -qq
  - sudo apt-get update
  - sudo apt-get install libffi-dev libuv-dev 

os:
  - osx

notifications:
  # irc: "chat.freenode.net#pixie-lang"
